.blackwater{
    color: white;
    position:absolute;
    top: 100px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    font-size: 100px;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5); /* Example: Apply a shadow */
}

.centered-text {
    text-align: center;
    
  }